* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --cor:rgb(250, 217, 222);
    --cor1:lightpink;
    --cor2:green;
    --cor3:darkgreen;
}

body {
    padding: 0px;
    margin: 0px auto;

    display: flex;
    flex-direction: row;
    
}

form {
    background-image: linear-gradient( to bottom, rgb(74, 181, 243), rgb(150, 135, 235));

    padding: 40px 65px;
    margin: 7% auto;

    width: 25%;
    height: 450px;

    min-width: 350px;
    min-height: 225px;

    border-radius: 5px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    color: rgb(255, 255, 255);

    box-shadow: 4px 2px 3px rgba(63, 62, 62, 0.342);
}

.conteiner-do-formulario h1 {
    padding: 15px 20px 35px 20px;
    font-size: 100px;
    text-align: center;
    text-shadow: 1px 2px 2ex rgba(0, 0, 0, 0.473);
} 

.conteiner-do-formulario  label  {
    display: inline;
    text-shadow: 1px 2px 2ex rgba(0, 0, 0, 0.473);
}

.conteiner-do-formulario  input  {
    background-image: linear-gradient(to top, rgb(236, 223, 250), rgb(246, 240, 253), rgb(249, 245, 253), transparent);
    
    padding: 2px;
    display: inline-block;
    border: transparent;
    border-radius: 1px;

    justify-content: center;
    text-shadow: 1px 2px 2ex rgba(0, 0, 0, 0.473);
}

.nome, .senha, .email  {
    padding: 12px;
}

button {
    background-image: linear-gradient(to top,  rgb(168, 227, 250),  rgb(159, 230, 252),  rgb(155, 231, 250), transparent);
    
    margin: 15% 35%;
    padding: 5px 10px;

    width: 75px;
    height: 30px;
   
    border: transparent 5px;
    border-radius: 12px;

    font-weight: bold;
    color: rgba(76, 36, 141, 0.692);
    transition: width .5s;
    transition:.5s;
}
button:hover {
    background-image: linear-gradient(to bottom, rgb(106, 213, 240), rgb(100, 212, 247), rgb(115, 212, 250), rgb(202, 228, 250));
    width: 80px;
    color: rgba(35, 143, 102, 0.685);
    transition:.5s;
}
